$gray-0: #F7F7FA;
$gray-5: #EDEDF0;
$gray-50: #787885;
$gray-60: #5A5B6A;
$gray-70: #4A4B57;
$gray-80: #5E6366;
$gray-100: #19191D;

$orange-60:#FB8200;

$blue-5: #EBF2FF;
$blue-40: #76A9FF;
$blue-70: #2264D1;

$black: #000000;
$border-blue: #9DC2FF;
$border-dark: #5A5B6A;

$pad: 0 8px;
$tr: .3s;

$ff-01: 'Inter';
$ff-02: 'Quicksand';
$ff-03: 'Roboto';

$bs: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
